<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Shipin分享站</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/css/barrager.css?v=2">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_u4qz1594lnixusor.css">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css?v=1">
    <link rel="stylesheet" type="text/css" href="/static/css/detail_p.css?v=2">
    <script src="/static/js/jquery-1.12.1.min.js"></script>
</head>
<body>

<div class="videos">
    <div class="video_b" style="margin-top:0">
        <div class="video_b_in">
            <div class="video_ls">
                <video id="vids">
                    您的浏览器不支持h5标签,请升级或换个浏览器
                </video>

                <div class="title_top">
                    视频分享
                </div>

                <!--<div class="list_right">
                    <a href="javascript:void(0)" id="like"><i class="iconfont icon-xinxing2"></i></a>
                    <a href="javascript:void(0)" id="zan"><i class="iconfont icon-dianzan"></i></a>
                    <a href="javascript:void(0)"><i class="iconfont icon-pinglun"></i></a>
                    <a href="javascript:void(0)"><i class="iconfont icon-zhuanfa"></i></a>
                    <a href="javascript:void(0)"><i class="iconfont icon-gerenyetianjiajiaguanzhu"></i></a>
                </div>-->

                <div id="pass">
                    <img src="/static/img/zt.png">
                </div>

                <div class="controls">

                    <div id="pBar">

                        <div class="pBar_bj">

                            <div id="buff"></div>

                            <div id="pBar_move">

                                <div id="pBtn"></div>
                            </div>
                        </div>
                    </div>

                    <div class="trol_list">

                        <div class="list_1">
                            <i class="iconfont icon-kuaitui-copy" onClick="ktui()"></i>
                            <i class="iconfont icon-zanting2" id="ztbf"></i>
                            <i class="iconfont icon-kuaijin" onClick="kjin()"></i>
                        </div>

                        <div class="comment">
                            <input id="comment" type="text" placeholder="输入评论">
                        </div>

                        <div class="voice">
                            <i class="iconfont icon-yinliang" style="float:left;"></i>
                            <div class="voicep">
                                <div id="vBar">
                                    <div id="vBar_in"></div>
                                </div>
                                <div id="vBtn"></div>
                            </div>
                        </div>

                        <div class="vtime">
                            <font id="nTime">00:00:00</font>/<em id="aTime">00:00:00</em>
                        </div>

                        <i id="qp" class="iconfont icon-quanping"></i>
                    </div>
                </div>
            </div>
            <div class="video_rs">

                <div class="video_rs_t">
                    <span>视频列表</span>
                    <b style="color:red;font-size: 16px">我也要分享视频→</b>
                    <a href="{{ url_for('play.upload') }}"><div class="btnadd">上传</div></a>
                </div>

                <div class="video_rs_b">

                    {% for item in musicList %}
                        <div class="one_tb" vid_src="{{ item.video }}">
                        <span class="one_tb_l">{{loop.index}}</span>
                        <div class="one_tb_c">
                            <img src="{{ item.image }}">
                            <b></b>
                        </div>
                        <div class="one_tb_r">
                            <h3 title="{{ item.title }}">{{ item.title }}</h3>
                            <!--<p title="{{ item.description }}">{{ item.description }}</p>-->
                            <p>{{ item.date }} by {{ item.author }} </p>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/socket.io.min.js"></script>
<script src="/static/js/jquery.barrager.min.js"></script>
<script>
    $(document).ready(function () {
        $('.one_tb').eq(0).click();

        var namespace = '/comment';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        $("#comment").keypress(function (e) {
            if (e.which == 13) {
                socket.emit('imessage', {data: encodeURI($('#comment').val())});
                $('#comment').val('');
            }
        });

        socket.on('message', function (msg) {
            $('body').barrager({'href': '#', 'info': $('<div/>').text(decodeURI(msg.data)).html()});
        });
    });

    /*获取控制对象*/
    var vids = document.getElementById("vids");
    var sskd = $(".controls").width();
    /*替换原来的764*/
    /*这一步判断他是什么浏览器，调用不同的格式的视频（这里以mp4为例子）*/
//    var xzdz = ".mp4";
//    vids.src = "/static/video/wsl.mp4";
    /*点击右边的话替换左边视频的地址链接以及替换播放器的名字*/
    $(".one_tb").click(function () {
        $(this).addClass("on").siblings(".one_tb").removeClass("on");
        var hName = $(this).find("h3").html();
        var vid_src = $(this).attr("vid_src");
        $(".title_top").html(hName);
//        vids.src = vid_src + xzdz;
        vids.src = vid_src;
        vids.play();
    });
    /*点击暂停图标的时候*/
    $("#pass").click(function () {
        $(this).css({display: "none"});
        $("#ztbf").attr("class", "iconfont icon-zanting");
        vids.play();
    });
    /*点击控制按钮里面的暂停图标的时候*/
    $("#ztbf").click(function () {
        if (vids.paused) {
            vids.play();
            $("#ztbf").attr("class", "iconfont icon-zanting")
        } else {
            vids.pause();
            $("#ztbf").attr("class", "iconfont icon-zanting2")
        }
    });
    /*不论任何途径只要是暂停或者播放*/
    vids.onplay = function () {
        $("#pass").css({display: "none"});
        $("#ztbf").attr("class", "iconfont icon-zanting");
    };
    vids.onpause = function () {
        $("#pass").css({display: "block"});
        $("#ztbf").attr("class", "iconfont icon-zanting2");
        $("#pBar").on('mouseup', function () {
            $(this).off('mousemove')
        })
    };
    /*时间转换器*/
    function numFormat(time) {
        time = parseInt(time);
        var h = addZero(Math.floor(time / 3600));
        var m = addZero(Math.floor((time % 3600) / 60));
        var s = addZero(Math.floor(time % 60));
        return h + ":" + m + ":" + s;
    }
    function addZero(num) {
        if (num < 10) {
            return "0" + num;
        } else {
            return '' + num;
        }
    }
    /*当前时间/总的时间(canplay方法开始)*/
    vids.oncanplay = function () {
        var aTime = numFormat(vids.duration);
        $("#aTime").html(aTime);
        /*第一步,进度条跟着时间动(鼠标点下的时候)*/
        vids.ontimeupdate = function () {
            sskd = $(".controls").width();
            var hc = (vids.buffered.end(0) / vids.duration) * sskd;
            $("#buff").css({width: hc + 'px'});
            var nTime = numFormat(vids.currentTime);
            $("#nTime").html(nTime);
            /*当前的时间比上总的时间乘以总的长度*/
            var nLengh = (vids.currentTime / vids.duration) * (sskd - 20);
            $("#pBar_move").css({width: nLengh + 'px'});
        };
        /*第二步,点击时的进度条*/
        $("#pBar").mousedown(function (e) {
            var cLk = e.clientX;
            /*点击距离(点击在进度条区域)*/
            var pJl = $("#pBar").offset().left;
            /*获取进度条距离左边的距离*/
            var mLengh = cLk - pJl;
            /*移动的距离*/
            if (mLengh >= (sskd - 20)) {
                mLengh = (sskd - 20)
            }
            $("#pBar_move").css({width: mLengh + 'px'});
            /*改变进度条的距离*/
            var cTime1 = mLengh / (sskd - 20) * vids.duration;
            vids.currentTime = cTime1;
            var cTime2 = numFormat(cTime1);
            $("#nTime").html(cTime2);
            /*改变html的显示时间*/
            vids.play();
            /*---------------------------------鼠标拖拽的距离---------------------------------------*/
            $(document).on('mousemove', function (e) {
                vids.pause();
                var newLeft = e.clientX - pJl;
                /*拖拽的距离*/
                if (newLeft <= 0) {
                    newLeft = 0;
                }
                if (newLeft >= (sskd - 20)) {
                    newLeft = (sskd - 20)
                }
                var cTime3 = newLeft / (sskd - 20) * vids.duration;
                var cTime4 = numFormat(cTime3);
                $("#pBar_move").css({width: newLeft + 'px'});
                vids.currentTime = cTime3;
                $("#nTime").html(cTime4);
            });
            /*拖拽结束*/
            /*----------------------------------鼠标松开----------------------------------------*/
            $("body").on('mouseup', function () {
                $(document).off('mousemove');
                vids.play();
            })
            /*松开结束*/
        })
        /*mousedown方法结束*/
    };
    /*(canplay方法结束)*/
    /*----------------------------------快进快退(点击html的时候)----------------------------------*/
    function ktui() {
        vids.currentTime -= 10;
    }
    function kjin() {
        vids.currentTime += 10;
    }
    /*----------------------------------快进快退(点击键盘的时候)----------------------------------*/
    $(document).keydown(function (event) {
        if (event.keyCode === 37) {
            vids.currentTime -= 10;
        }
        if (event.keyCode === 39) {
            vids.currentTime += 10;
        }
        /*----暂停播放(点击键盘空格的时候)----*/
        if (event.keyCode === 32) {
            if (vids.paused) {
                vids.play();
                $("#ztbf").attr("class", "iconfont icon-zanting")
            } else {
                vids.pause();
                $("#ztbf").attr("class", "iconfont icon-zanting2")
            }
        }
        /*-----------退出全屏-----------*/
        if (event.keyCode === 27) {
            $(".video_ls").removeClass("on");
            $(".controls").css({width: "764px"})
        }
    });
    /*鼠标双击事件(双击播放器然后全屏)*/
    $(".video_ls").dblclick(function () {
        if($(".video_ls").hasClass('on')){
            $(".video_ls").removeClass("on");
            $(".controls").css({width: "764px"})
        }
        else{
            $(".video_ls").addClass("on");
            var oBox = $("body").width() - 66;
            $(".controls").css({width: oBox + 'px'})
        }
    });
    /*全屏播放按钮*/
    $("#qp").click(function () {
        if ($(".video_ls").hasClass("on")) {
            $(".video_ls").removeClass("on");
            $(".controls").css({width: "764px"})
        } else {
            $(".video_ls").addClass("on");
            var oBox = $("body").width() - 66;
            $(".controls").css({width: oBox + 'px'})
        }
    });
    /*/!*收藏*!/
    $("#like").click(function () {
        if ($(this).hasClass("on")) {
            $(this).removeClass("on")
        } else {
            $(this).addClass("on")
        }
    })
    /!*点赞*!/
    $("#zan").click(function () {
        if ($(this).hasClass("on")) {
            $(this).removeClass("on")
        } else {
            $(this).addClass("on")
        }
    })*/
    /*音量加减*/
    vBtn.onmousedown = function (ev) {
        var ev = ev || window.event;
        var xs = ev.clientX - this.offsetLeft;
        document.onmousemove = function (ev) {
            var newLefts = ev.clientX - xs;
            if (newLefts <= 0) {
                newLefts = 0;
            } else if (newLefts >= vBar.offsetWidth - vBtn.offsetWidth) {
                newLefts = vBar.offsetWidth - vBtn.offsetWidth;
            }
            vBtn.style.left = newLefts + "px";
            vBar_in.style.width = (newLefts + 8) + "px";
            var prop = newLefts / (vBar.offsetWidth - vBtn.offsetWidth);
            vids.volume = prop;
            //静音改变音量图标
            /*if (!vids.volume) {
                icon.style.backgroundImage = "url(images/iconb.png)"
            } else {
                icon.style.backgroundImage = "url(images/icona.png)"
            }*/
        };
        document.onmouseup = function () {
            document.onmousemove = null;
            document.onmouseup = null;
        }
    }
</script>
</body>
</html>
