<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Shipin分享站</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css?v=1">
    <script src="/static/js/jquery-1.12.1.min.js"></script>
    <style>
       /* .video_b_in {
            width: 830px !important;
        }*/

        .one_tb_l {
            width: 20px !important;
        }

        .one_tb_r {
            width: 280px !important;
        }

    </style>
</head>
<body>

<div class="videos" style="">
    <div class="video_b" style="margin-top:0;">
        <div class="video_b_in">
            {% include 'video.html' %}

            <div class="video_rs">

                <div class="video_rs_t">
                    <span>搜索历史</span>
                </div>

                <div class="video_rs_b"></div>
            </div>
        </div>
    </div>
</div>

{% include 'example/css_loading.html' %}

<script>
    $(document).ready(function () {
        var namespace = '/download';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.emit('imessage', {data: encodeURI("{{ id }}"), name : encodeURI("{{ name }}")});

        socket.on('message', function (msg) {
            if (msg.data != "error") {
                if (Storage != undefined && localStorage.musicList != undefined)
                    initHistories();
            }
            if("{{ name }}" == msg.name && !vids.src){
                $('.loader').hide();
                if(msg.data != "error"){
                    vids.src = decodeURI(msg.file);
                    vids.play();
                }
                else{
                    alert("网络错误，请刷新重试");
                }
            }
        });

        initHistories();
    });

    $(".video_rs_b").delegate('.one_tb','click',function () {
        location.href= '/search/watch/' + $(this).attr("vid_src") + '/' + $(this).find('h3').text();
    });

    function initHistories() {
        if (Storage != undefined && localStorage.musicList != undefined) {
            $('.video_rs_b').empty();
            var list = JSON.parse(localStorage.musicList);
            for (name in list) {
//                console.log(list[id].name)
                if(name == "{{ name }}"){
                    $(".title_top").html(name);
                }
                $('.video_rs_b').prepend('<div class="one_tb '+ (name == "{{ name }}"?"on":"") +'" vid_src="' + list[name].id + '">\n' +
                    '                        <span class="one_tb_l"></span>\n' +
                    '                        <div class="one_tb_c">\n' +
                    '                            <img src="' + list[name].img + '">\n' +
                    '                            <b></b>\n' +
                    '                        </div>\n' +
                    '                        <div class="one_tb_r">\n' +
                    '                            <h3 title="' + name + '">' + name + '</h3>\n' +
                    '                            <p title="' + list[name].info + '">' + list[name].info + '</p>\n' +
                    '                        </div>\n' +
                    '                    </div>');
            }
        }
    }
</script>
</body>
</html>
