<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/barrager.css?v=2">
    <script type="text/javascript" src="/static/js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
</head>
<body>
<video width="1024" height="576"
       src="http://upos-hz-mirrorks3u.acgvideo.com/upgcxcode/79/84/82658479/82658479-1-30015.m4s?e=ig8euxZM2rNcNbdlhoNvNC8BqJIzNbfqXBvEqxTEto8BTrNvN0GvT90W5JZMkX_YN0MvXg8gNEVEuxTEto8i8o859r1qXg8xNEVE5XREto8GuFGv2U7SuxI72X6fTr859r1qXg8gNEVE5XREto8z5JZC2X2gkX5L5F1eTX1jkXlsTXHeux_f2o859IB_&deadline=1553683331&gen=playurl&nbs=1&oi=1942815076&os=ks3u&platform=pc&trid=7b8cea527bdb4faeb6e8f7574f69888a&uipk=5&upsig=5844ea5a4cfb699eb0ebc5f3e37128c4&uparams=e,deadline,gen,nbs,oi,os,platform,trid,uipk"
       preload="auto" autoplay="" controls="" class="embed-responsive-item">
</video>


<script src="/static/js/jquery.barrager.min.js"></script>
<script>

</script>

<script type="text/javascript">
    var namespace = '/chat';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

    $('form#emit').submit(function (event) {
        socket.emit('imessage', {data: $('#emit_data').val()});
        return false;
    });

    socket.on('message', function (msg) {
        $('body').barrager({'href': '#', 'info': $('<div/>').text(msg.data).html()});
    });


</script>
</body>
</html>